name: Build TWRP

on: [workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup environment
      run: |
        sudo apt update
        sudo apt install -y git python3 python3-pip wget curl openjdk-11-jdk
        sudo ln -s /usr/bin/python3 /usr/bin/python
        
    - name: Run build script
      run: |
        chmod +x build.sh
        ./build.sh
        
    - name: Upload recovery
      uses: actions/upload-artifact@v4
      with:
        name: recovery
        path: twrp/out/target/product/RE5C6CL1/recovery.img
